<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-searchbar placeholder="Search movie..."
                   (ionChange)="searchMovie($event)"
                   debounce="500"
                   animated>

    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!!films && films.length > 0; else noFilms">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3" *ngFor="let film of films | filter:searchText">
        <ion-card [routerLink]="['/movie/' + film.id]" color="light">
          <ion-card-header>
            <img src="https://image.tmdb.org/t/p/w200{{film.poster_path}}" alt="{{film.title}}">
            <ion-card-title>{{film.title}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ng-container>

  <ng-template #noFilms>
    <ion-card>
      <ion-card-header>
        <ion-card-title>No films found</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ng-template>

</ion-content>
