<ion-header>
  <ion-toolbar>
    <ion-title>movie</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="fsearcher"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="movieData">
    <ion-card>
      <ion-card-header>
        <img src="{{movieImg}}" alt="{{movieData.title}}">
        <ion-card-title>{{movieData.title}}</ion-card-title>
        <ion-card-subtitle>{{movieData.release_date}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>{{movieData.overview}}</ion-card-content>
    </ion-card>
  </div>
</ion-content>
