<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{!!movieData ? movieData.title : "Movie"}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="fsearcher"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="movieData">
    <ion-card color="light">
      <ion-grid>
        <ion-row>
          <ion-col class="center" size="12" size-md="2">
            <ng-container *ngIf="!!movieData.poster_path; else noPoster">
              <img src="https://image.tmdb.org/t/p/w300{{movieData.poster_path}}" alt="{{movieData.title}}">
            </ng-container>
            <ng-template #noPoster>
              <img src="https://via.placeholder.com/300?text=No+film+poster+found">
            </ng-template>
          </ion-col>
          <ion-col size="12" size-md="10">
            <ion-card-header>
              <ion-card-title>{{movieData.original_title}}</ion-card-title>
              <ion-card-subtitle>{{movieData.release_date}}</ion-card-subtitle>
              <ion-card-subtitle>{{genres}}</ion-card-subtitle>
              <ion-card-subtitle>Language: {{movieData.spoken_languages[0].name}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>{{movieData.overview}}</ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>
